/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.app-bgn-error {
  background: #f30000;
}

.app-bgn-success {
  background: #76f374;
}

body{
  max-width: 1024px;
  margin: 0 auto;
}
